.vagrant/machines/default/virtualbox/id
.vagrant/machines/default/virtualbox/creator_uid
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/vagrant_cwd
.vagrant/machines/default/virtualbox/synced_folders
.vagrant/machines/default/virtualbox/private_key
.vagrant/machines/default/virtualbox/index_uuid
.vagrant/machines/default/virtualbox/action_provision
.idea/workspace.xml
.idea/vcs.xml
.idea/php.xml
.idea/modules.xml
.idea/weektrend.iml
helloscrapy/helloscrapy/spiders/__init__.py
site/storage/framework/views/.gitignore
site/storage/framework/testing/.gitignore
site/storage/framework/sessions/.gitignore
vendor/
.gitattributes
.env
.idea/week_trend.iml
storage/oauth-public.key
storage/oauth-private.key
composer.lock
_ide_helper_models.php
_ide_helper.php
